{{!-- List of all Blogs --}}
<ol class="blog-list uniformity">
  {{#each blogs as |blog|}}
    <li>
      <article class="blog">
        <div class="title">
          <a href="{{blog_title}}" target="_blank">{{title}}</a>
        </div>
        <div class="meta">
          {{! executes like passing args into a function: format_plural("comment", comments.length) }}
          <div class="blogTitle">
            <a href="/all_blogs/{{blog.id}}"> {{blog.blog_title}}</a>
            added on
            {{format_date created_at}}
          </div>
        </div>
      </article>
    </li>
  {{/each}}
</ol>
