<ol class="blog-list">
  {{#each blogs as |blog|}}
    <li>
      <article class="blog">
        <div class="title">
          <a href="{{blog_title}}" target="_blank">{{title}}</a>
        </div>
        <div class="meta">
          {{! executes like passing args into a function: format_plural("comment", comments.length) }}

          {{!-- on {{format_date created_at}} --}}
          <div  class="blogTitle">
          <a > {{blog.blog_title}}</a>
          </div>
          <a> by {{user.username}} </a>
          <a>{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
      </article>
    </li>
  {{/each}}
</ol>