{{#if loggedIn}}

  <a>Welcome to your dashboard!</a>

  {{! Create New Blogs }}
  <section class="new_blog">
    <h2>Create New Blog</h2>

    <form class="new-blog-form">
      <div>
        <label for="blog_title">Title</label>
        <input type="text" id="blog_title" name="blog_title" />
      </div>
      <div>
        <label for="blog_content">Text</label>
        <input id="blog_content" name="blog_content" />
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </section>

  {{! View this user's Blogs }}
  {{#if blogs.length}}
  <section class="new_blog">
    <h2>Your Blogs</h2>
    <ol>
      {{#each blogs as |blog|}}
        <li>
          <article class="blog">
            <div class="title">
              <a href="{{blog_title}}" target="_blank">{{title}}</a>
            </div>
            <div class="meta">
              <a>
                <STRONG>{{blog.blog_title}}</STRONG>, from
                {{format_date created_at}}</a>
              <a>{{comments.length}}
                {{format_plural "comment" comments.length}}</a>
            </div>
          </article>
        </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}

{{/if}}
<script src="/javascript/add-blog.js"></script>