<section class="uniformity">
<ol class="blog-list">
    <article class="blog">
      <div class="title">
        <a href="{{blog_title}}" target="_blank">{{title}}</a>
      </div>
      <div class="meta">
        <div class="blogTitle">
          <h4>{{blog.blog_title}}</h4>
  {{#with blog as |blog|}}
        </div>
        <a>{{blog.blog_content}}</a>
        <br>
        <a> Created by: {{user.username}} on {{format_date created_at}} </a>
        <br>  <br>
        <h5>{{format_plural "Comment" comments.length}}:</h5>
       <ul>
        {{#each  comments as |comment|}}
        <li>{{comment.comment_text}}</li>
         <text class="smallText"> Posted by </text>
          <em class="smallText"> {{user.username}} </em>
          <text class="smallText"> on {{format_date created_at}} </text>
        {{/each}}
        </ul>
      </div>
  {{/with}}
    </article>
</ol>
</section>

<form class="comment-form uniformity">
    <div>
      <textarea class="text_update" name="comment-body"></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-outline-info btn-sm">add comment</button>
    </div>
  </form>


<script src="/javascript/view-details.js"></script>